#myCanvas{
    /* box-shadow: 5px 10px 8px black; */
}

h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color:blue;
}

h2{
    text-align: center;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    color:lightblue;
}

p {
    text-align: left;
    padding-left: 10%;
    font-size: 30px;
    font-family: 'Odibee Sans', cursive;
    color:white;
}

body{
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    /* background: linear-gradient(
        0deg,
        rgb(174, 192, 252) 0%,
        rgb(251, 147, 255) 100%
    ) */
    background: rgb(0, 8, 46);
}
